<div class="home-container">
	<form method="post" action="adddoctor" id="login">
		<h1 style="margin-top:20px;">Add Doctor</h1>
		<div class="line">
			<h4>Name</h4>
			<input type="text" required class="box" name="name" id="name" placeholder=" Enter name"/>
		</div>
		<div class="line">
			<h4>Age</h4>
			<input type="number" required class="box" name="age" id="age" placeholder="Enter age"/>
		</div>
		<div class="line">
			<h4>City</h4>
			<input type="text" required class="box" name="city" id="city" placeholder="Enter city"/>
		</div>
		<div class="line">
			<h4>Mobile</h4>
			<input type="number" required class="box" name="mobile" id="mobile" placeholder="Enter number"/>
		</div>
		<div class="line">
			<h4>Email</h4>
			<input type="email" required class="box" name="email" id="email" placeholder="Enter email id"/>
		</div>
		<div class="line">
			<h4>Specialization</h4>
			<input type="text" required class="box" name="Specialization" id="Specialization" placeholder="Enter Specialization"/>
		</div>
		<div class="line">
			<h4>Experience</h4>
			<input type="number" required class="box" name="experience" id="experience" placeholder="Enter experience"/>
		</div>
		<button class="button" type="submit" style="margin-bottom: 10px;">Register</button>
	</form>
	</div>