
    <div class="home-container">
        <form method="post" action="authorize" >
            <h1>Login Here</h1>
            <div class="line">
                <h3>Email</h3>
                <input type="text" class="box" required name="username" id="user" placeholder="Enter your username here"/>
            </div>
            <div class="line">
                <h3>Password</h3>
                <input type="password" class="box" required name="password" id="pass" placeholder="Enter your password here"/>
            </div>
            <button class="button" type="submit" style="margin-bottom: 10px;">Login</button>
        </form>
    </div>
    
