
<div class="home-container"  id="login">
	<form method="POST" action="userlogin">
		<h1>Login Here</h1>
		<div class="line">
			<h3>Mobile</h3>
			<input type="number" class="box" required name="mobile" id="mobile" placeholder="Enter your mobile number"/>
		</div>
		<button class="button" type="submit" style="margin-bottom: 5%;">Login</button>
	</form>
</div>