<div class="home-container" id="login">
	<form method="POST" action="otpverify" >
		<div class="line">
			<h3>OTP</h3>
			<input type="number" class="box" required name="otp" id="otp" placeholder="Enter here"/>
		</div>
		<button class="button" type="submit" style="margin-bottom: 10px;">Verify</button>
	</form>
</div>
